*::before, *:after {
    box-sizing: border-box;
}


* {
    padding: 0;
    margin: 0;
    
}

.giris {
    background-image: url("Assets/Iteration-1-assets/home-banner.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 10% 20%;
}


#slogan {
    font-size: 7rem;
}

.giris-icerik {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.giris-icerik img {
    max-width: 90%;
    margin: 0 20%;
}

.giris-btn {
    padding: 1rem 3.5rem;
    border: 1px solid #FDC913;
    border-radius: 3rem;
    font-weight: bold;
    font-size: large;
    background: #FDC913;
}

.siparis-formu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.siparis-formu-header {
    border: 1px solid purple;
    background: rgb(253, 201, 19, 0.5);
    text-align: center;
}

.form {
    border: 1px solid purple;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.content-div {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.content-div h3 {
    font-weight: bold;
}

.content-ucret {
    font-size: xx-large;
    font-weight: bold;
}

.content-info {
    border: 1px solid purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-points {
    border: 1px solid purple;
    display: flex;
    gap: 5rem;
}